/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Breadcrumb keitimas */
.breadcrumb:before {
  content: '\E5CC';
  color: black;
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}
  /* Breadcrumb teksto dydis */
.breadcrumb {
  font-size: 15px
}


#lietuva {
  background-image: url("../pics/dangoraizis1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



 
/* Pakoreguotas footeris
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;*/
.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #ee6e73;
}

#kaunoNuotrauka,#vilniausNuotrauka,#klaipedosNuotrauka{
  height:120px;
  width:120px;
}

#logo{
  height:64px;
  width:80px;
}

#smallPic{
  height: 130px;
  width: 130px;
}

h1,#seselis{
  text-shadow: 3px 2px grey;
  font-family:verdana;

}

#apieMus{
font-family: verdana;

}

.light{
  font-size: 20px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#vidutineFT{
width: 450px;
height: 450px;
}


.margin-bottom{
  margin-bottom: 0px;
}

#naujienuNuotraukos{
  height: 150px;
  width: 150px;
}

.card-image.img
{
  height:150px;
}

.material-icons.md1{
  content:"search"; 
}

.material-icons.md1{
  content:"navigate_next"; 
}

#averageImage{
  height: 300px;
  width: 300px;
}


#aboutUsNuotrauka, #astosNuotrauka{
  width: 100%;
  height: 100%;
}


.responsive{
	max-width: 80%;
	height: auto;
}

.violetos {
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.violetos.kalnas {
  background-image: url(../pics/kalnasGriuna.jpg);
}

.violetos.kaunas {
  background-image: url(../pics/KaunoHerbas.jpg);
}

.violetos.klaipeda {
  background-image: url(../pics/klaipeda3.png);
}

